extends /modules/core/views/layouts/layout
block content
   .row
      .col-md-6.col-md-offset-3
         form(role='form')
            .form-group
               label(for='TrailId') Trail Id
               input#TrailId.form-control(type='text', name='dwTrailUrlId', ng-model="request_model.dwTrailUrlId")
               label(for='Username') Username
               input#Username.form-control(type='text', name='requester', ng-model="request_model.requester")
               label(for='Urls') Urls
               input#Urls.form-control(type='text', name='urls', placeholder='Enter Url', ng-model='request_model.urls')
               label(for='Terms') Terms
               input#Terms.form-control(type='text', name='terms', placeholder='Enter comma separated terms' ng-model='request_model.terms')
               label(for='minScore') Minimum Score
               input#minScore.form-control(type='text', name='minScore', placeholder='minimum score' ng-model='request_model.minScore')
            button.btn.btn-default(ng-click="submit()") Submit
         button(ng-click="load()").btn.btn-default Load
         br
         div(style="width:600px; height:500px")
            rank-chart(style="width: 600px; height: 500px; border: 1px solid lightgray;")
            pre(id="eventSpan")
            form(role='form', action='/api/rank/destroy', method='get')
               button.btn.btn-default(type='submit') Destroy all data
