doctype html
html(lang="en" ng-app="rancor" )
   include /modules/core/views/partials/head
   body(style="padding-top: 70px; padding-bottom: 50px;")
      include /modules/core/views/partials/navigation
      include /modules/core/views/partials/banner
      include /modules/core/views/partials/footer
      block scripts