extends /modules/core/views/layouts/layout
block content
   .row
      .col-md-6.col-md-offset-3
         a(href="http://localhost:8182/testsite/testpageone") Test Page One
         br
         a(href="http://localhost:8182/testsite/testpagetwo") Test Page Two
         br
         a(href="http://localhost:8182/testsite/testpagethree") Test Page Three



