extends /modules/core/views/layouts/layout
block content
   .row
      .col-md-6.col-md-offset-3
         a(href="/testsite/testpageone") Test Page One
         br
         a(href="/testsite/testpagetwo") Test Page Two
         br
         a(href="/testsite/testpagethree") Test Page Three
         br
         a(href="/api/rank/delay?delay=10000") Test Page badness



