extends /modules/core/views/layouts/layout
block content
   .row
      .col-md-6.col-md-offset-3
         a(href="http://localhost:3004/testsite/testpageone") Test Page One
         br
         a(href="http://localhost:3004/testsite/testpagetwo") Test Page Two
         br
         a(href="http://localhost:3004/testsite/testpagethree") Test Page Three
         br
         a(href="http://localhost:3004/api/rank/delay?delay=10000") Test Page badness



