extends /modules/core/views/layouts/layout
block content
    .row
        .col-md-6.col-md-offset-3
            p this is test page number one
            |Ponzi scheme
            |From Wikipedia, the free encyclopedia
            |Jump to:	navigation, search
            |1920 photo of Charles Ponzi, the namesake of the scheme, while still working as a businessman in his office in Boston
            |A Ponzi scheme (also a Ponzi game or a Ponzi)[1] is a fraudulent investment operation where the operator, an individual or organization, pays returns to its investors from new capital paid to the operators by new investors, rather than from profit earned through legitimate sources. Operators of Ponzi schemes usually entice new investors by offering higher returns than other investments, in the form of short-term returns that are either abnormally high or unusually consistent.

            |Ponzi schemes occasionally begin as legitimate businesses, until the business fails to achieve the returns expected. The business becomes a Ponzi scheme if it then continues under fraudulent terms. Whatever the initial situation, the perpetuation of the high returns requires an ever-increasing flow of money from new investors to sustain the scheme.[2]

            |The scheme is named after Charles Ponzi,[3] who became notorious for using the technique in 1920.[4] The idea, present in novels (for example, Charles Dickens' 1844 novel Martin Chuzzlewit and 1857 novel Little Dorrit each described such a scheme),[5] was actually performed in real life by Ponzi who with his operation took in so much money that it was the first to become known throughout the United States. Ponzi's original scheme was based on the arbitrage of international reply coupons for postage stamps; however, he soon diverted investors' money to make payments to earlier investors and himself.[2]


            p
            |Contents
            |1  Characteristics
            |2  Unraveling of a Ponzi scheme
            |3  Similar schemes
            |4  See also
            |5  References
            |6  Further reading
            |7  External links

            p
            |Characteristics [ edit]
            |Typically, extraordinary returns are promised on the original investment[6] and vague verbal constructions such as "hedge futures trading", "high-yield investment programs", or "offshore investment" might be used. The promoter sells shares to investors by taking advantage of a lack of investor knowledge or competence, or using claims of a proprietary investment strategy which must be kept secret to ensure a competitive edge.

            |Ponzi schemes sometimes commence operations as legitimate investment vehicles, such as hedge funds. For example, a hedge fund can degenerate into a Ponzi scheme if it unexpectedly loses money (or simply fails to legitimately earn the returns promised and/or thought to be expected) and if the promoters, instead of admitting their failure to meet expectations, fabricate false returns and (if necessary) produce fraudulent audit reports.

            |A wide variety of investment vehicles or strategies, typically legitimate, have become the basis of Ponzi schemes. For instance, Allen Stanford used bank certificates of deposit to defraud tens of thousands of people. Certificates of deposit are usually low-risk and insured instruments, but the Stanford CDs were fraudulent.[7]

            |Initially the promoter will pay out high returns to attract more investors, and to lure current investors into putting in additional money. Other investors begin to participate, leading to a cascade effect. The "return" to the initial investors is paid out of the investments of new entrants, and not out of profits.

            |Often the high returns encourage investors to leave their money in the scheme, with the result that the promoter does not have to pay out very much to investors; he simply has to send them statements showing how much they have earned. This maintains the deception that the scheme is an investment with high returns.

            |Promoters also try to minimize withdrawals by offering new plans to investors, often where money is frozen for a longer period of time, in exchange for higher returns. The promoter sees new cash flows as investors are told they cannot transfer money from the first plan to the second. If a few investors do wish to withdraw their money in accordance with the terms allowed, their requests are usually promptly processed, which gives the illusion to all other investors that the fund is solvent.

            p
            |Unraveling of a Ponzi scheme [ edit]
            |When a Ponzi scheme is not stopped by the authorities, it sooner or later falls apart for one of the following reasons:[2]

            |The promoter vanishes, taking all the remaining investment money.
            |Since the scheme requires a continual stream of investments to fund higher returns, once investment slows down, the scheme collapses as the promoter starts having problems paying the promised returns (the higher the returns, the greater the risk of the Ponzi scheme collapsing). Such liquidity crises often trigger panics, as more people start asking for their money, similar to a bank run.
            |External market forces, such as a sharp decline in the economy (for example, the Madoff investment scandal during the market downturn of 2008), cause many investors to withdraw part or all of their funds.
            |Similar schemes [ edit]
            |This section needs additional citations for verification. Please help improve this article by adding citations to reliable sources. Unsourced material may be challenged and removed.  (March 2014) (Learn how and when to remove this template message)
            |A pyramid scheme is a form of fraud similar in some ways to a Ponzi scheme, relying as it does on a mistaken belief in a nonexistent financial reality, including the hope of an extremely high rate of return. However, several characteristics distinguish these schemes from Ponzi schemes:[2]
            |In a Ponzi scheme, the schemer acts as a "hub" for the victims, interacting with all of them directly. In a pyramid scheme, those who recruit additional participants benefit directly. (In fact, failure to recruit typically means no investment return.)
            |A Ponzi scheme claims to rely on some esoteric investment approach and often attracts well-to-do investors, whereas pyramid schemes explicitly claim that new money will be the source of payout for the initial investments.
            |A pyramid scheme typically collapses much faster because it requires exponential increases in participants to sustain it. By contrast, Ponzi schemes can survive simply by persuading most existing participants to reinvest their money, with a relatively small number of new participants.
            |An economic bubble: A bubble is similar to a Ponzi scheme in that one participant gets paid by contributions from a subsequent participant (until inevitable collapse). A bubble involves ever-rising prices in an open market (for example stock, housing, or tulip bulbs) where prices rise because buyers bid more and buyers bid more because prices are rising. Bubbles are often said to be based on the "greater fool" theory. As with the Ponzi scheme, the price exceeds the intrinsic value of the item, but unlike the Ponzi scheme, there is no single person misrepresenting the intrinsic value.
