extends /modules/core/views/layouts/layout
block content
    .row
        .col-md-6.col-md-offset-3
            p this is test page number one
            p I am going to list some terms here for Rancor to find.
            ul
               li batman
               li val kilmer
               li superman
               li spiderman
               li lobo
               li wolverine
