extends /modules/core/views/layouts/layout
block content
    .row
        .col-md-6.col-md-offset-3
            p this is test page number one
            p I am going to list some terms here for Rancor to find.
            ul
               li batman
               li some more batman
               li robin
               li joker was batman's arch enemy
               li comic books have batman inside of them
               li penguin was lame
               li bat mobile was batman's car
               li hero
