extends ../layouts/layout
block content
    .row
        .col-md-6.col-md-offset-3
            form(role='form', action='/api/rank/process', method='post')
                .form-group
                    label(for='urlRankRequest')
                    input#username.form-control(type='text', name='urlRankRequest', value='{             "dwTrailUrlId":"testId",             "requester":"jabba",             "urls":["https://en.wikipedia.org/wiki/Batman","http://www.theatlantic.com/entertainment/archive/2014/05/batmans-traumatic-origins/361638/",                 "http://www.scientificamerican.com/article/dark-knight-shift-why-bat/"],               "terms":["batman","joker","dark knight","Bhutanese","Neal Adams"]           }')
                button.btn.btn-default(type='submit') Submit
            br
